{% extends "layout.html" %}
{% block body %}
    <script src="{{ url_for('static', filename='js/tttt.js') }}"></script>
    <h1 class="text-center"> Shopping cart </h1>
    {% if products %}
        <table class="table table-hover">
            {% for product in products %}
                <tr>
                    <td class="col-md-6">
                        <img src={{ product.picture_name }} class="img-rounded" alt={{ product.name }}  width="160">
                    </td>
                    <td class="col-md-6"> 
                        <p class="h4">{{ product.name }} </p>
                        <dl class="dl-horizontal">
                            <dt>Price</dt>
                            <dd class="text-danger"> {{ product.price }}</dd>
                            <dt>Amount</dt>
                            <dd id="{{ product.id }}">
                                <select id="amount_select{{ product.id }}" 
                                        onchange="edit_amount($(this).attr('id'), {{ product.id }})">
                                    {% for n in range(1, product.amount_on_stock+1) %}
                                        <option value="{{ n }}"
                                            {% if product_amount.get(product.id)==n %}
                                                {{"selected='selected'" }}
                                            {% endif %}>
                                            {{ n }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </dd>
                        </dl>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <form action="/pay-now" method="post">
            {% for system in form.payment_system %}
                <div class="radio">
                    <label>{{ system }}{{ system.label }}</label>
                </div>
            {% endfor %}

            <button type="submit" class="btn btn-success btn-lg">
                Buy
            </button>
        </form>
    {% else %}
        <div class="alert alert-warning">
            You didn't add any product to Sopping Cart yet
        </div>
    {% endif %}
{% endblock %}
