{% extends "layout.html" %}
{% block body %}
  <h1 class="text-center"> Shopping cart </h1>
        <p>Here will be your products and options for payment</p>

        <table class="table table-hover">
            {% for product in products %}
                <tr>
                    <td class="text-right"> ID </td>
                    <td>{{ product.id }}</td>
                    <tr>
                        <td class="col-md-6">
                            <img src={{ product.picture_name }} class="img-thumbnail" alt={{ product.name }} >
                        </td>
                        <td class="col-md-6"> 
                            <p class="h4">{{ product.name }} </p>
                            <dl class="dl-horizontal">
                                <dt>Price</dt>
                                <dd class="text-danger"> {{ product.price }}</dd>
                                <dt>Amount</dt>
                                <dd id="{{ product.id }}">{{ product_amount.get(product.id) }}</dd>
                            </dl>
                        </td>
                    </tr>
                </tr>
            {% endfor %}
        </table>

        <p>Choose payment system</p>

        <button type="button" class="btn btn-success">
            Pay
        </button>

{% endblock %}