body                { font-family: sans-serif; background: #eee; }
a, h1, h2           { color: #2E8B57; }
h1, h2              { font-family: 'Georgia', serif; margin: 5px; text-align: center;}
h1                  { border-bottom: 2px solid #FFE4B5; }
h2                  { font-size: 1.2em; }

.page               { margin: 2em auto; width: 60em; border: 5px solid #FFE4B5;
                      padding: 0.8em; background: #FFFACD; }
.hello              { background: #98FB98; padding: 0.5em; }
.price              { color: #B80000; }
